// .exo1-main{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }


.good-answer {
    color: green;
}

.wrong-answer{
    color: red;
}

.normal-answer{
    color: black;
}

.char-nav{
    display: flex;
    align-items: center;
    margin: 0 auto ;
    margin-top: 35px;
    margin-bottom: 35px;
    width: 50%;
    
    .charac-zone{
        border: solid black 3px;
        .charac-list{
            font-weight: bold;
            font-size: 41px;
            margin: 4px;
        }
    }
    .button-ex1-style{
        border: solid black 3px;
        border-radius: 0px 20px 20px 0px;
        background-color: #D2001A;
        color: white;
    }
}

.input-exo1{
    width: 32%;
    font-size: 32px;
    
}

.button-ex1-style{
    font-weight: bold;
    font-size: 28px;
    width: 120px;
    height: 60px;
}