.exo1-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-exo1{
    width: 32%;
    font-size: 32px;
    
}

.button-ex1-style{
    font-weight: bold;
    font-size: 28px;
    width: 120px;
    height: 60px;
}